

<div class="modal-header modal-header-confirm">
	<h4 class="modal-title ng-binding">
		{{modalOptions.headerText}}
	</h4>
</div>

<div class="modal-body">
  <h4> <label>{{modalOptions.bodyText}}</label> </h4> 
</div>
 <div class="modal-footer">
		
		<span ng-hide="modalOptions.confirmationModal">
			<button type="submit" class="btn btn-warning" 
					ng-click="modalOptions.ok()"><i class="glyphicon glyphicon-ok"></i>&nbsp;{{modalOptions.actionButtonText}}</button>
		</span>
		<span ng-show="modalOptions.confirmationModal">
			<button class="btn btn-deafult" ng-click="modalOptions.close()"><i class="fa fa-times"></i>&nbsp; {{modalOptions.closeButtonText}}</button>
			<button type="submit" class="btn btn-warning" 
					ng-click="modalOptions.ok()"><i class="glyphicon glyphicon-ok"></i>&nbsp;{{modalOptions.actionButtonText}}</button>
		</span>
</div>
