
<div id="sticky_footer" class="navbar navbar-default navbar-fixed-bottom" data-ng-controller="webFooterController">
	<div class="row">
		
		<!-- <div class="col-xs-12 col-md-4"></div> -->
		<!-- <div class="col-xs-12 col-md-4"></div> -->
		<div class="col-xs-12 col-md-12">
		 <p class="navbar-text pull-left">
               <span class="text-muted copyrightFont" >{{version}}</span>
         </p>
		<p class="navbar-text pull-right">
			<img style="width: 172px;" src="images/common/poweredbycelloscope.png"  alt="Bank Logo">
		</p>
		</div>
   	</div>
</div>