<!-- Content Header (Page header) -->
<section class="content-header">
	<h1 i18n="{{title.value}}"></h1>
	<ol class="breadcrumb">
		<li>
			<a style="cursor: pointer;" data-ng-controller="appLogoController" data-ng-click="goToHomePage()">
				<!-- <i class="fa fa-dashboard"></i > -->
					<span  i18n="Home"></span>
			</a>
		</li>
		<li i18n="Security_AdminUser" data-ng-click="goBack()" style="cursor: pointer;"></li>
		<li class="active" i18n="{{title.value}}"></li>
	</ol>
</section>

<!-- Main content -->
<section class="content ng-scope">

	<!-- Msg Location -->
   	<div class="row" style="margin-top: 20px;">
  		<div class="col-xs-12">
   			<div data-ng-include="messagePageLocation"></div>
  		</div>
 	</div><!-- End Msg Location -->

	<div class="row">
		<div class="col-md-6">
			<div class="box box-primary">
               <!-- form start -->
               <form role="form" class="ng-valid ng-dirty">
                   <div class="box-body">
                       <div class="form-group">
                           <label for="LoginID"><span class="red"> * </span><span i18n="LoginID"></span></label>
                           <input data-ng-model="user.userID" type="text" class="form-control ng-pristine ng-valid" placeholder="Login ID" id="LoginID" data-ng-disabled="isFieldDisabled">
                       </div>
                       
                       <div class="form-group">
							<div>
								<button type="button" class="btn btn-primary" ng-click="generatePassword()" i18n="Generate_Password"></button>
								<span ng-show="showGeneratePass">
									<input  type="text" style="width: 40%;margin-left:8px;padding: 6px 12px;color: #1D671D;vertical-align: middle;border: 1px solid #cccccc;" 
									id="InputGeneratedPass" />
									<!-- <input type="checkbox" style="margin-left:8px;" id="chkCopyPass" ng-model="copypass" ng-change="copyPassword()"> Copy Password ? -->
								</span>
							</div>
						</div>
						
						<div class="form-group">
                           <label for="NewPassword"><span class="red"> * </span><span i18n="NewPass"></span></label>
                           <input data-ng-model="user.newPass" type="password" class="form-control ng-pristine ng-valid" placeholder="{{ 'NewPass' | i18n }}" id="NewPassword"
								data-ng-change="changeInputField(passFieldValidationResult)" data-ng-blur="leaveInputField(passFieldValidationResult)">
							<span i18n="{{passFieldValidationResult.fieldMsg}}" data-ng-show ="passFieldValidationResult.showMsg" data-ng-style="passFieldValidationResult.fieldMsgStyle"></span>
                       </div>
                       
                       <div class="form-group">
                           <label for="Confirm_Password"><span class="red"> * </span><span i18n="Confirm_Password"></span></label>
                           <input data-ng-model="user.confirmPass" type="password" class="form-control ng-pristine ng-valid" id="Confirm_Password" placeholder="{{ 'Confirm_Password' | i18n }}"
									data-ng-change="changeInputField(confirmPassFieldValidationResult)" data-ng-blur="leaveInputField(confirmPassFieldValidationResult)">
							<span i18n="{{confirmPassFieldValidationResult.fieldMsg}}" data-ng-show ="confirmPassFieldValidationResult.showMsg" data-ng-style="confirmPassFieldValidationResult.fieldMsgStyle"></span>
							
                       </div>
                   </div><!-- /.box-body -->
                   
                   <div class="box-footer">
                   		<div class="row">
                   			<div class="col-sm-3">
                   				<button type="submit" class="btn btn-success FormOptions" 
                   						ng-click="resetPassword(user)" i18n="btn_Reset_Password"></button>
                   			</div>
                   			<div class="col-sm-3">
                   				<button class="btn FormOptions" data-ng-click="goBack()" i18n="btn_Back"></button>
                   			</div>
                   		</div>
                   </div>
                   
               </form>
           </div>
		</div>
		
		<div class="col-md-6">
	      		<div class="box box-info">				
					<div style="padding: 0 15px;" ng-show="havePolicy">
						<div>
							<h3 style="color: #098224;"> Password policy </h3>							
						</div>
						<div>
							<ul>
								<li data-ng-repeat="msg in passwordPolicyData">{{msg}}</li>
							</ul>
						</div>
					</div>
					<div style="padding: 0 15px;" ng-hide="havePolicy">
					  <p>Sorry!! there is no password policy</p>
					</div>
					<br/>
				</div>
	    </div>
	</div>
                            
</section>